:root {
  --font-black: #000;
  --font-dark-grey: #111111;
  --font-blue: #2f80ed;
  --font-royal-blue: #2962FF;
  --font-grey: #767676;
  --font-grey-white: #dbd3d3;
  --font-white: #ffffff;
  --font-grey-secondary: #bfbfbf;
  --background-white: #ffffff;
  --background-blue: #3685e2;
  --background-grey: #e5e5e5;
  --border-blue: 1px solid #3685e2;
  --border-black: 1px solid #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body{
  background: var(--background-grey);
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: var(--font-black);
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: var(--font-black);
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
}

label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-black);
}

h6,
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

h6 {
  color: var(--font-grey-secondary);
}

p {
  color: var(--font-black);
}

input {
  height: 40px;
  padding: 5px;
  outline: 0;
  border-width: 0 0 1px;
  width: 235px;
  border-color: var(--font-grey-white);
}

button-circle {
  padding: 8px 16px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-white);
  background: var(--background-blue);
  border-radius: 8px;
  border: none;
}

input::placeholder{
  color: var(--font-grey-secondary) ;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--font-blue);
  text-decoration: none;
}

a i {
  pointer-events: none;
}

.body-app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: var(--font-white);
}

.js-content {
  margin-bottom: 100px;
}

.logout {
  display: block;
  text-align: right;
  padding: 10px 38px;
}

.mp-r-25{
  margin-right: 25px ;
}

.mp-r-16{
  margin-right: 15px ;
}

.p-t-6{
  padding-top: 6px;
}
