:root {
  --font-black: #000;
  --font-dark-grey: #262626;
  --font-blue: #2f80ed;
  --font-royal-blue: #2962ff;
  --font-grey: #595959;
  --font-grey-white: #dbd3d3;
  --font-white: #ffffff;
  --font-grey-secondary: #bfbfbf;
  --background-white: #ffffff;
  --background-blue: #3685e2;
  --background-grey: #e5e5e5;
  --border-gray: 1px solid #bfbfbf;
  --border-black: 1px solid #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background: var(--background-grey);
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: var(--font-dark-grey);
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: var(--font-black);
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
}

label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-black);
}

h6,
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

h6 {
  color: var(--font-grey-secondary);
}

p {
  color: var(--font-black);
}

input {
  border: none;
  border-bottom: 1px solid var(--font-grey-secondary);
  color: var(--font-grey-secondary);
  width: 235px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
}

input::placeholder {
  color: var(--font-grey-secondary);
}

select {
  appearance: none;
  color: var(--font-grey-secondary);
  border: none;
  border-bottom: 1px solid var(--font-grey-secondary);
  width: 235px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  z-index: 1;
}

select:focus,
input:focus {
  outline: none;
}

input:valid {
  border-bottom: var(--border-black);
  color: var(--font-black);
}

option:checked {
  color: var(--font-black);
}

button-circle {
  padding: 8px 16px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-white);
  background: var(--background-blue);
  border-radius: 8px;
  border: none;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--font-blue);
  text-decoration: none;
}

a i {
  pointer-events: none;
}

.body-app {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
}

.content {
  height: 100%;
  background-color: var(--background-white);
}

.section {
  height: 83%;
}

.logout {
  display: block;
  text-align: right;
  padding: 10px 38px;
}

.mp-r-25 {
  margin-right: 25px;
}

.mp-r-16 {
  margin-right: 15px;
}

.p-t-6 {
  padding-top: 6px;
}

.main-header {
  font-family: Arial;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-grey);
}
