<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body class="body-app">
    <div class="js-content content">
      <!-- We will render content here -->
      <header class="header">
        <h2 class="main-header">Contact Detail</h2>
        <a href="#logout" class="button-blue mp-r-25">Logout</a>
      </header>
      <section class="section contact-detail-card">
        <img src="../assets/images/Rectangle.png" class="avatar" />
        <h5 class="contact-name">Brian Vaughn</h5>
        <h6 class="relation">Friends</h6>
        <div class="info-container">
          <h6>Number</h6>
          <p>987654321</p>
        </div>
        <div class="info-container">
          <h6>Email</h6>
          <p>987654321</p>
        </div>
      </section>
      <footer class="js-footer footer">
        <a class="js-back button-blue mp-r-25" href="#back">Back</a>
        <a class="js-delete button-blue mp-r-25" href="#delete">Delete</a>
        <a class="js-edit button-blue mp-r-25" href="#edit">Edit</a>
      </footer>
      <!-- End of rendered content -->
    </div>
  </body>
</html>
