<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body class="body-app">
    <div class="contact-detail-card">
      <img src="../assets/images/Rectangle.png" class="avatar" />
      <h5 class="contact-name">Brian Vaughn</h5>
      <h6 class="relation">Friends</h6>
      <div class="info-container">
        <h6>Number</h6>
        <p>987654321</p>
      </div>
      <div class="info-container">
        <h6>Email</h6>
        <p>987654321</p>
      </div>
    </div>
  </body>
</html>
