<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Document</title>
</head>
<body>
  <div class="body-app">
    <div class="header">
      <div>
        <h3 class="title-header">Create new contact</h3>
      </div>
      <div>
        <p class="button-blue p-t-6">Logout</p>
      </div>
    </div>
    <form class="">
    <div class="input-content">
        <input type="text" name="name" placeholder="Name" required>
    </div>
    <div class="input-content">
        <input type="number" name="number" placeholder="Number" required>
    </div>
    <div class="input-content">
        <input type="email" name="email" placeholder="Email" required>
        <p class="error">Error message</p>
    </div>
    <div class="input-content">
        <select name="Relation" required>
            <option hidden selected disabled>Relation</option>
            <option value="Family">Family</option>
            <option value="Friends">Friends</option>
            <option value="Work">Work</option>
            <option value="Acquaintance">Acquaintance</option>
        </select>
        <img src="../assets/images/Polygon 1.png" class="select-button">
    </div>
    
    </div>
    <div class="footer">
        <div class="mp-r-25">
          <h3 class="button-blue">bottom 1</h3>
        </div>
        <div class="mp-r-16">
            <button class="button-blue button-login mp-r-16" type="submit">
              Save
            </button>
        </div>
    </div>
    </form>
  </div>
</body>
</html>