<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Document</title>
</head>
<body>
  <div class="body-app">
    <div class="header">
      <div>
        <h3 class="title-header">Login</h3>
      </div>
      <div>
        <p class="button-blue p-t-6">Logout</p>
      </div>
    </div>
    <div class="footer">
        <div class="mp-r-25">
          <h3 class="button-blue">bottom 1</h3>
        </div>
        <div class="mp-r-16">
          <p class="button-blue">bottom 2</p>
        </div>
    </div>
  </div>
</body>

</html>