<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body class="body-app">
    <div class="js-content content">
      <!-- We will render content here -->
      <header class="header">
        <h2 class="main-header">Contactable</h2>
        <a href="#logout" class="button-blue mp-r-25">Logout</a>
      </header>
      <section class="section list-contact-section">
        <h6 class="label-list">FAVORITES</h6>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Brian Vaughn</p>
          <img src="../assets/images/star-favorite.svg" class="star"/>
        </div>
        <h6 class="label-list">CONTACTS ( )</h6>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Andrew Clark</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Brian Vaughn</p>
          <img src="../assets/images/star-favorite.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Dan Abramov</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Dominic Gannaway</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Luna Ruan</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Rachel Nabors</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Rick Hanlon</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="contact-item-container">
          <img src="../assets/images/Rectangle.png" class="list-item-avatar" />
          <p>Yuzhi Zheng</p>
          <img src="../assets/images/star-default.svg" class="star"/>
        </div>
        <div class="newcontact-button">
          <img src="../assets/images/Union.svg" class="add-svg" >
        </div>
      </section>
      <!-- End of rendered content -->
    </div>
  </body>
</html>
