<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style.css" />
  <title>Document</title>
</head>
<body>
  <section>
    <div class="body-app">
      <div class="header">
        <h3>Login</h3>
      </div>
      <form class="">
        <div class="login_inputs">
          <div>
            <input type="email" name="email" placeholder="email" />
          </div>
          <div>
            <input type="password" name="password" placeholder="password" />
          </div>
        </div>
        <div class="footer">
          <button class="button-blue button-login mp-r-16" type="Login">
            Login
          </button>
      </form>
      <a class="button-blue mp-r-25" href="#signup">Signup</a>
    </div>
    </div>
  </section>
</body>
</html>